* {
    font-family: Gotham;
}

body{
    background-image: url(../images/elipses.png);
    background-size: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0; 

}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
    margin-top: 150px; /* Add margin-top property */
    margin-left:400px;
}

input#search-bar {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 2px solid #D0CFCE;
    border-radius: 40px;
    outline: none;
}

input#search-barr {
    margin: 0 auto;
    width: 40%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 2px solid #D0CFCE;
    margin-top: 40px;
    margin-left: 300px;
    outline: none;
}

.btn{
    display: inline-block;
    margin-left: 800px;
    top: 150px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
    position: fixed;
}

.btnvoltar{
    display: inline-block;
    left: 20px;
    top: 20px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
    position: fixed;
}

.btnvoltar:hover {
    color: #bebebe;
    background-color: #d4d4d4
}
