body{
    background-image: url(../images/elipses.png);
    background-size: 100%;
}

@font-face {
    font-family: Gotham;
    src: local(Gotham), url(../serviços/iCiel\ gotham\ ultra.ttf);
}

.btnvoltar{
    font-family: Gotham;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
}

.btnvoltar:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.font{
    font-family: Gotham;
    font-size: 50px;
    position: absolute; 
	left: 500px;
	top: 240px;
}

.btngerar{
    font-family: Gotham;
    display: inline-block;
    margin-left: 660px;
	margin-top: 340px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
}

.btngerar:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.btnvoltar2{
    font-family: Gotham;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
}

.btnvoltar2:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.font2{
    font-family: Gotham;
    font-size: 50px;
    position: absolute; 
	left: 430px;
	top: 200px;
}

