body{
    background-image: url(../images/elipses.png);
    background-size: 100%;
    border: none;
    overflow: hidden;
   
    padding: 0; /* Remova preenchimento padrão do corpo */

}

.logo {
    
    position: absolute;
    margin-top: 50px;
    left: 920px; /* Centralize a imagem horizontalmente */
    transform: translateX(-50%); /* Centralize a imagem horizontalmente */
    max-width: 30%; /* Garanta que a imagem não ultrapasse a largura do corpo */
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

@font-face {
    font-family: Gotham;
    src: local(Gotham), url(../serviços/iCiel\ gotham\ ultra.ttf);
}
  
.button1 {
    font-family: Gotham;
    display: inline-block;
    margin-left: 350px;
    margin-top: 380px;
    padding: 100px 60px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #595959;
}

.button2 {
    font-family: Gotham;
    display: inline-block;
    margin-left: 200px;
    padding: 100px 70px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #595959;
}

.button3 {
    font-family: Gotham;
    display: inline-block;
    margin-left: 200px;
    padding: 115px 30px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #595959;
}
  
.button1:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.button2:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.button3:hover {
    color: #bebebe;
    background-color: #d4d4d4
}