* {
    font-family: Gotham;
}

body{
    background-image: url(../images/elipses.png);
    background-size: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0; 

}

.logo {
    max-width: 500px;
    margin-left: 450px;
    margin-top: 40px; 
}

.wrapper {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 100px;
    max-width: 1200px;
    width: 100%;
}
  
  
.btn { 
    display: block;
    padding: 80px 3px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #595959;
    max-width: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button1:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.button2:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.button3:hover {
    color: #bebebe;
    background-color: #d4d4d4
}