* {
    font-family: Gotham;
}

body{
    background-image: url(../images/elipses.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper{
    font-size: 20px;
    margin-top: 350px;
    margin-left: 630px;
    display: flex;
    flex-direction: column;
}


.btnsim{
    display: inline-block;
    margin-left: 850px;
	margin-top: 30px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
}

.btnsim:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.btnvoltar{
    display: inline-block;
    left: 10px;
    top: 20px;
    padding: 10px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #707070;
    border: none;
    border-radius: 40px;
    position: fixed;
}

.btnvoltar:hover {
    color: #bebebe;
    background-color: #d4d4d4
}

.font2{
    font-size: 50px;
    position: absolute; 
	left: 630px;
	top: 180px;
}

